{% if site.description and site.description != "" and page.url == "/" %}
<div class="site-description fadeInDown delay_05s">
  <p>{{ site.description }}</p>
</div><!-- .site-description -->
{% endif %}

{% if site.description and site.description != "" and page.url == "/" %}
<div class="site-description fadeInDown delay_05s">
  <p>{{ site.description }}</p>
</div><!-- .site-description -->
{% endif %}

<div class="container header-contianer">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-8 header-left">
      <h1>{{ site.author | escape }}</h1>
      <h2>Resume</h2>
      {%- include head.html -%}
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 header-right">
      <ul class="icons no-print">
        {%- if site.dribbble_username -%}
          <li>
            <a target="_blank" href="https://dribbble.com/{{ site.dribbble_username| cgi_escape | escape }}" class="button button--sacnite button--round-l">
              <i class="fa fa-dribbble" title="Dribble link"></i>
            </a>
          </li>
        {%- endif -%}
        {%- if site.facebook_username -%}
          <li>
            <a target="_blank" href="https://www.facebook.com/{{ site.facebook_username| cgi_escape | escape }}" class="button button--sacnite button--round-l">
              <i class="fa fa-facebook" title="Facebook link"></i>
            </a>
          </li>
        {%- endif -%}
        {%- if site.flickr_username -%}
          <li>
            <a target="_blank" href="https://www.flickr.com/photos/{{ site.flickr_username| cgi_escape | escape }}" class="button button--sacnite button--round-l">
              <i class="fa fa-flickr" title="Flickr link"></i>
            </a>
          </li>
        {%- endif -%}
        {%- if site.github_username -%}
          <li>
            <a target="_blank" href="https://github.com/{{ site.github_username| cgi_escape | escape }}" class="button button--sacnite button--round-l">
              <i class="fa fa-github" title="Github link"></i>
            </a>
          </li>
        {%- endif -%}
        {%- if site.instagram_username -%}
          <li>
            <a target="_blank" href="https://www.instagram.com/{{ site.instagram_username| cgi_escape | escape }}" class="button button--sacnite button--round-l">
              <i class="fa fa-instagram" title="Instagram link"></i>
            </a>
          </li>
        {%- endif -%}
        {%- if site.linkedin_username -%}
          <li>
            <a target="_blank" href="https://www.linkedin.com/in/{{ site.linkedin_username| cgi_escape | escape }}" class="button button--sacnite button--round-l">
              <i class="fa fa-linkedin" title="Linkedin link"></i>
            </a>
          </li>
        {%- endif -%}
        {%- if site.xing_username -%}
          <li>
            <a target="_blank" href="https://www.xing.com/profile/{{ site.xing_username| cgi_escape | escape }}" class="button button--sacnite button--round-l">
              <i class="fa fa-xing" title="Xing link"></i>
            </a>
          </li>
        {%- endif -%}
        {%- if site.pinterest_username -%}
          <li>
            <a target="_blank" href="https://www.pinterest.com/{{ site.pinterest_username| cgi_escape | escape }}" class="button button--sacnite button--round-l">
              <i class="fa fa-pinterest" title="Pintrest link"></i>
            </a>
          </li>
        {%- endif -%}
        {%- if site.twitter_username -%}
          <li>
            <a target="_blank" href="https://twitter.com/{{ site.twitter_username| cgi_escape | escape }}" class="button button--sacnite button--round-l">
              <i class="fa fa-twitter" title="Twitter link"></i>
            </a>
          </li>
        {%- endif -%}
        {%- if site.youtube_username -%}
          <li>
            <a target="_blank" href="https://www.youtube.com/{{ site.youtube_username| cgi_escape | escape }}" class="button button--sacnite button--round-l">
              <i class="fa fa-youtube-play" title="Youtube link"></i>
            </a>
          </li>
        {%- endif -%}
        {%- if site.googleplus_username -%}
          <li>
            <a target="_blank" href="https://plus.google.com/{{ site.googleplus_username| escape }}" class="button button--sacnite button--round-l">
              <i class="fa fa-google-plus" title="Google plus link"></i>
            </a>
          </li>
        {%- endif -%}
      </ul>

      {%- if site.email -%}
        <p>
          Email: <a href="mailto:{{ site.email }}" target="_blank">{{ site.email | escape }}</a>
        </p>
      {%- endif -%}
      {%- if site.url -%}
        <p>
          Web: {% include a.html href=site.url %}{{ site.url | escape }}</a>
        </p>
      {%- endif -%}
      {%- if site.driver_license -%}
        <p>
          Driving License: {{ site.driver_license }}
        </p>
      {%- endif -%}
      {%- if site.location -%}
        <p>
          Location: {{ site.location }}
        </p>
      {%- endif -%}
      {%- if site.nationality -%}
        <p>
          Nationality: {{ site.nationality }}
        </p>
      {%- endif -%}
      {%- if site.age -%}
        <p>
          Age: {{ site.age }}
        </p>
      {%- endif -%}
      {%- if site.phone -%}
        <p>
          Phone: {{ site.phone | escape }}
        </p>
      {%- endif -%}      
    </div>
  </div>
</div>
